<a href="https://colab.research.google.com/github/JF11579/Plotly/blob/main/Home_Prices_and_House_Prices_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If rising mortgae rates push down house prices why dont rising home ins costs?

Will do the project here in colab, use convert nb html or just ask Daniel.  I wasnt a bunch of plots with chuncks of text intersprersed.

# Libraries

In [8]:
#pip install dash

Collecting dash
  Downloading dash-2.13.0-py3-none-any.whl (10.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.4/10.4 MB 67.0 MB/s eta 0:00:00
Requirement already satisfied: Flask<2.3.0,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dash) (2.2.5)
Collecting Werkzeug<2.3.0 (from dash)
  Downloading Werkzeug-2.2.3-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.6/233.6 kB 19.6 MB/s eta 0:00:00
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from dash) (5.15.0)
Collecting dash-html-components==2.0.0 (from dash)
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0 (from dash)
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0 (from dash)
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from dash) (4.7.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from dash) (2.31.0)
Collecting retrying (from dash)
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting ansi2html (from dash)
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from dash) (1.5.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from dash) (67.7.2)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3.0,>=1.0.4->dash) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3.0,>=1.0.4->dash) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3.0,>=1.0.4->dash) (8.1.7)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=5.0.0->dash) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly>=5.0.0->dash) (23.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from Werkzeug<2.3.0->dash) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (2023.7.22)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from retrying->dash) (1.16.0)
Installing collected packages: dash-table, dash-html-components, dash-core-components, Werkzeug, retrying, ansi2html, dash
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.3.7
    Uninstalling Werkzeug-2.3.7:
      Successfully uninstalled Werkzeug-2.3.7
Successfully installed Werkzeug-2.2.3 ansi2html-1.8.0 dash-2.13.0 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 retrying-1.3.4

In [2]:
#pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (23.1)

In [3]:
#pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [49]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [6]:
from google.colab import drive

In [50]:
import matplotlib.pyplot as plt
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler

# Data

In [158]:
drive.mount('/content/drive')
# Change to the directory containing your CSV
%cd /content/drive/MyDrive/DATA/HomeOwnershipData

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/DATA/HomeOwnershipData

In [159]:
HomeOwnershipRates = pd.read_csv('HomeownershipRates.csv')
HomeOwnershipRates.head(3)

         DATE  USHOWN
0  1984-01-01    64.5
1  1985-01-01    63.9
2  1986-01-01    63.8

In [160]:
HouseholdMedianIncome = pd.read_csv('HouseholdMedianIncome.csv')
HouseholdMedianIncome.head(3)

         DATE  MEHOINUSA672N
0  2008-01-01          63455
1  2009-01-01          63011
2  2010-01-01          61364

In [161]:
Home_Insurance_Cost= pd.read_csv('Home_Insurance_Cost.csv')
Home_Insurance_Cost.head(3)

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,0,1998,,,,,,100.0,100.1,100.4,100.6,101.1,101.2,101.5,
1,1,1999,101.9,101.9,102.2,102.3,102.7,102.9,103.3,103.5,103.7,104.1,104.2,104.3,103.1
2,2,2000,104.6,104.9,105.0,105.5,106.0,106.7,107.1,107.4,108.0,108.1,108.2,108.5,106.7

In [162]:
Home_Insurance_Cost.columns

Index(['Unnamed: 0', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Annual'],
      dtype='object')

In [163]:
# prompt: keep only the Year  and the Annuak columns

Home_Insurance_Cost = Home_Insurance_Cost[['Year', 'Annual']]
Home_Insurance_Cost.head(3)

   Year Annual
0  1998
1  1999  103.1
2  2000  106.7

In [164]:
US_MedianHomePrice = pd.read_csv('US_MedianHomePrice.csv')
US_MedianHomePrice.head(3)

         DATE  MSPUS
0  1963-01-01  17800
1  1963-04-01  18000
2  1963-07-01  17900

## Data Cleaning

In [165]:
HomeOwnershipRates['DATE'] = HomeOwnershipRates['DATE'].map(lambda x: x[:4])
HouseholdMedianIncome['DATE'] = HouseholdMedianIncome['DATE'].map(lambda x: x[:4])
US_MedianHomePrice['DATE'] = US_MedianHomePrice['DATE'].map(lambda x: x[:4])

In [166]:
# prompt: how do i rename the DATE column in HomeownershipRates to year? Home_Insurance_Cost
Home_Insurance_Cost.rename(columns={'Year': 'YEAR'}, inplace=True)
HomeOwnershipRates.rename(columns={'DATE': 'YEAR'}, inplace=True)
HouseholdMedianIncome.rename(columns={'DATE': 'YEAR'}, inplace=True)
US_MedianHomePrice.rename(columns={'DATE': 'YEAR'}, inplace=True)

In [167]:
Home_Insurance_Cost['YEAR'] = Home_Insurance_Cost['YEAR'].astype(int)
HomeOwnershipRates['YEAR'] = HomeOwnershipRates['YEAR'].astype(int)
HouseholdMedianIncome['YEAR'] = HouseholdMedianIncome['YEAR'].astype(int)
US_MedianHomePrice['YEAR'] = US_MedianHomePrice['YEAR'].astype(int)

In [168]:
Home_Insurance_Cost = Home_Insurance_Cost[Home_Insurance_Cost['YEAR'] >= 2008]
HomeOwnershipRates = HomeOwnershipRates[HomeOwnershipRates['YEAR'] >= 2008]
US_MedianHomePrice = US_MedianHomePrice[US_MedianHomePrice['YEAR'] >= 2008]

Plot All as Lines

In [169]:
# prompt: Show me how to plot all 4 datasets as line charts where year is the x axis and their other column is the y axis

line1 = go.Scatter(x=HomeOwnershipRates['YEAR'], y=HomeOwnershipRates['USHOWN'], name='Home Ownership Rate')
line2 = go.Scatter(x=HouseholdMedianIncome['YEAR'], y=HouseholdMedianIncome['MEHOINUSA672N'], name='Household Median Income')
line3 = go.Scatter(x=US_MedianHomePrice['YEAR'], y=US_MedianHomePrice['MSPUS'], name='US Median Home Price')
line4 = go.Scatter(x=Home_Insurance_Cost['YEAR'], y=Home_Insurance_Cost['Annual'], name='Home Insurance Cost')
fig = go.Figure(data=[line1, line2, line3, line4])
fig.update_layout(title='Home Ownership Rates, Household Median Income, US Median Home Price, and Home Insurance Cost')
fig.show()

## Scaling the data

## the scales of the data are so different one of Homeowner Pct does not even show

In [170]:
HomeOwnershipRates.head(3)

    YEAR  USHOWN
24  2008    67.8
25  2009    67.4
26  2010    66.9

In [171]:
HomeOwnershipRates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 24 to 38
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    15 non-null     int64
 1   USHOWN  15 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 360.0 bytes

In [172]:
HomeOwnershipRates_2 = HomeOwnershipRates

In [173]:
# prompt: convert my USHOWN column to float

#HomeOwnershipRates['USHOWN'] = HomeOwnershipRates['USHOWN'].astype(float)

In [174]:
# bard

In [178]:
HomeOwnershipRates.head(3)

    YEAR  USHOWN
24  2008    67.8
25  2009    67.4
26  2010    66.9

In [179]:
scaler = MinMaxScaler(feature_range=(0, 1))


scaler.fit(HomeOwnershipRates[['USHOWN']])

HomeOwnershipRates['USHOWN'] = scaler.transform(HomeOwnershipRates[['USHOWN']])

HomeOwnershipRates.head(3)

    YEAR    USHOWN
24  2008  1.000000
25  2009  0.909091
26  2010  0.795455

In [180]:
Home_Insurance_Cost.head(3)

    YEAR Annual
10  2008  159.2
11  2009  163.1
12  2010  168.0

In [181]:
#
scaler = MinMaxScaler(feature_range=(0, 1))


scaler.fit(Home_Insurance_Cost[['Annual']])

Home_Insurance_Cost['Annual'] = scaler.transform(Home_Insurance_Cost[['Annual']])

Home_Insurance_Cost.head(3)

    YEAR    Annual
10  2008  0.000000
11  2009  0.065907
12  2010  0.148714

In [182]:
HouseholdMedianIncome.head(3)

   YEAR  MEHOINUSA672N
0  2008          63455
1  2009          63011
2  2010          61364

In [183]:
#HouseholdMedianIncome
scaler = MinMaxScaler(feature_range=(0, 1))


scaler.fit(HouseholdMedianIncome[['MEHOINUSA672N']])

HouseholdMedianIncome['MEHOINUSA672N'] = scaler.transform(HouseholdMedianIncome[['MEHOINUSA672N']])

HouseholdMedianIncome.head(3)

   YEAR  MEHOINUSA672N
0  2008       0.251461
1  2009       0.215926
2  2010       0.084114

In [184]:
US_MedianHomePrice.head(3)

     YEAR   MSPUS
180  2008  233900
181  2008  235300
182  2008  226500

In [185]:
scaler = MinMaxScaler(feature_range=(0, 1))


scaler.fit(US_MedianHomePrice[['MSPUS']])

US_MedianHomePrice['MSPUS'] = scaler.transform(US_MedianHomePrice[['MSPUS']])

US_MedianHomePrice.head(3)

     YEAR     MSPUS
180  2008  0.094061
181  2008  0.099225
182  2008  0.066765

In [186]:
line1 = go.Scatter(x=HomeOwnershipRates['YEAR'], y=HomeOwnershipRates['USHOWN'], name='Home Ownership Rate')
line2 = go.Scatter(x=HouseholdMedianIncome['YEAR'], y=HouseholdMedianIncome['MEHOINUSA672N'], name='Household Median Income')
line3 = go.Scatter(x=US_MedianHomePrice['YEAR'], y=US_MedianHomePrice['MSPUS'], name='US Median Home Price')
line4 = go.Scatter(x=Home_Insurance_Cost['YEAR'], y=Home_Insurance_Cost['Annual'], name='Home Insurance Cost')
fig = go.Figure(data=[line1, line2, line3, line4])
fig.update_layout(title='Home Ownership Rates, Household Median Income, US Median Home Price, and Home Insurance Cost')
fig.show()

# Correlation

In [188]:
Combined_list = (HomeOwnershipRates , HouseholdMedianIncome, US_MedianHomePrice, Home_Insurance_Cost)

Combined_dataframe = pd.concat(Combined_list, axis=1)

Combined_dataframe.head(3)

      YEAR    USHOWN  YEAR  MEHOINUSA672N  YEAR  MSPUS    YEAR  Annual
24  2008.0  1.000000   NaN            NaN   NaN    NaN  2022.0     1.0
25  2009.0  0.909091   NaN            NaN   NaN    NaN     NaN     NaN
26  2010.0  0.795455   NaN            NaN   NaN    NaN     NaN     NaN

In [191]:
Combined_dataframe = Combined_dataframe[['USHOWN','MEHOINUSA672N','MSPUS','Annual']]
#

In [192]:
corr_matrix = Combined_dataframe.corr()
corr_matrix

               USHOWN  MEHOINUSA672N  MSPUS    Annual
USHOWN            1.0            NaN    NaN       NaN
MEHOINUSA672N     NaN       1.000000    NaN  0.589202
MSPUS             NaN            NaN    1.0       NaN
Annual            NaN       0.589202    NaN  1.000000

# Basement

In [ ]:
# line1 = go.Scatter(x=HomeOwnershipRates_normalized['YEAR'], y=HomeOwnershipRates_normalized['USHOWN'], name='Home Ownership Rate')
# line2 = go.Scatter(x=HouseholdMedianIncome_normalized['YEAR'], y=HouseholdMedianIncome_normalized['MEHOINUSA672N'], name='Household Median Income')
# line3 = go.Scatter(x=US_MedianHomePrice_normalized['YEAR'], y=US_MedianHomePrice_normalized['MSPUS'], name='US Median Home Price')
# line4 = go.Scatter(x=Home_Insurance_Cost_normalized['YEAR'], y=Home_Insurance_Cost_normalized['Annual'], name='Home Insurance Cost')
# fig = go.Figure(data=[line1, line2, line3, line4])
# fig.update_layout(title='Home Ownership Rates, Household Median Income, US Median Home Price, and Home Insurance Cost')
# fig.show()